<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite">

    <test name = "TestNG Testing" parallel = "methods">

        <parameter name="browser" value="firefox">

        </parameter>
        <!--<groups>
            <run>
               <exclude name="regression"></exclude>

                <include name="sanity"></include>
            </run>
        </groups> -->


        <classes>
            <!--  <class name="Test1.testNgPriority"></class>
              <class name="Test1.testNG"></class>
              -->
            <class name="com.practice.testCases.TC01_registerUser"></class>
        </classes>
    </test>
</suite>
